<div class="col-md-8">
<nav class="mt-5 ms-3 " 
style="--bs-breadcrumb-divider: '>';" 
aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{site.url}}">Home</a></li>
<li class="breadcrumb-item"><a href="/books/">Book</a></li>
<li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
</ol>
</nav>
</div>
<div class="col-md-4 p-3 mt-3 text-end">
<a href="{{page.buylink}}" class="btn col-6 mt-1 mb-1 
bg-greens border-white btn-outline-success zoom" 
style="border-radius:0;">{{page.button}}</a>
</div>