<!DOCTYPE html>
<html>
  <head>
<meta name='apple-mobile-web-app-capable' content='yes' />
<meta charset="UTF-8">
<link rel="stylesheet" media="screen" href="{{site.url}}/assets/css/qtcoursecss.css" data-turbolinks-track="true" />
{% include _favicon.html %}
<link href="{{site.url}}/assets/css/base.css?_=f7c339cf4c19&amp;brand_course_heading=%23ffffff&amp;brand_homepage_heading=%23ffffff&amp;brand_navbar_fixed_text=%23ffffff&amp;brand_navbar_text=%23ffffff&amp;brand_primary=%231ea800&amp;brand_text=%232b3636&amp;logged_out_homepage_background_image_overlay=0.66&amp;logged_out_homepage_background_image_url={{site.url}}/images/header_qt.jpg" rel="stylesheet" data-turbolinks-track="true"></link>
<title>{{page.course_title}} | LearnQt</title>
<meta name="description" content="{{page.course_sub_title}}">
<meta property="og:title" content="Qt C++ GUI Development - Intermediate">
<meta property="og:image" content="{{site.url}}/images/{{page.course_promo_image}}">
<meta property="og:description" content="Learn Advanced Qt C++ GUI : Events, Painting, Model View Architecture, Graphics View Framework, Deployment and way more.">
<meta name="brand_video_player_color" content="#09A59A">
<meta name="site_title" content="learnqt">
<style></style>

<!--  MAKE SURE YOU HOST ALL THESE SCRIPTS YOURSELF   -->

<script src="{{site.url}}/assets/js/jsqt1.js" data-turbolinks-track="true"></script>
<script src="{{site.url}}/assets/js/jsqt2.js"></script>


<link href="/blog/rss" rel="alternate" title="RSS Feed" type="application/rss+xml" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

  </head>
  <body>
          <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
      <meta content='width=device-width,initial-scale=1.0,user-scalable=no' name='viewport'>
    
    
      <!-- HEADER -->
<header class=''>
  <!-- Navbar -->
  <div
    class="navbar navbar-fedora navbar-fixed-top is-at-top bs-docs-nav is-signed-in navbar-course-hero hide-nav-background-color"
    id='navbar'
    role='navigation'>
    <div class='container'>
      <div class='navbar-header navbar-header-courses'>
        <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
          <span class='sr-only'>
            Toggle navigation
          </span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <!-- Site logo -->
          

        <!-- Header Menu -->
        <div class='collapse navbar-collapse navbar-header-collapse'>
          <ul class='nav navbar-nav navbar-right'>
  <li>
    
    <a class='fedora-navbar-link navbar-link' href='/courses' target=''>
      All Courses
    </a>
    
  </li>
</ul>

        </div>
      </div>
    </div>
  </div>
</header>