<aside>

	<!--
	<div class="panel radius">
		<h3>Online Courses about Qt,C++,QML and more</h3>
		  <a href = "/courses">
		  <img class="b30" src="{{ site.urlimg }}qt_courses.png" alt="">
		  </a>

	</div>
	-->
	
		<div class="border-dotted radius b30">
	    <p class="text-left">
			High Quality Online Courses on Qt,C++, Qt Quick/QML and More.
		</p>
		<a href = "/courses">
		<img src="{{ site.urlimg }}qt_courses.png" alt="Video Courses on Qt,C++,QML and more">
		</a>
		
	</div>

	<!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
   -->
   

	<div class="border-dotted radius b30">
	    <p class="text-left">
			<strong>33 Tips and Tricks to Speed up your workflow</strong> .Get this higly visual, 15 pages PDF Guide ON Qt Creator for FREE! <a href="https://mailchi.mp/a7c4442d916d/qt-creator-shortcuts">GET IT NOW!</a>
		</p>
		<a href = "https://mailchi.mp/a7c4442d916d/qt-creator-shortcuts">
		<img src="{{ site.urlimg }}qt_creator_guide.png" alt="Free Qt Creator Guide">
		</a>
		
	</div>
	
	
</aside>