<div class="container-fluid">

<div class="row mb-5">
<div class="col-md-10 mx-auto p-3 p-md-5 text-center mt-5">
<h2><strong><a href="{{page.url}}">{{page.why.title}}</a></strong></h2>
<div class="bot-center col-md-1 mt-3 col-2"></div>
<p class="mt-5 col-md-6 mx-auto">{{page.why.description}}</p>
</div>

<div class="col-md-9 mx-auto">
<div class="row">

{% for w in page.why.list %}
<div class="col-md-3 p-3">
<div class="p-3 p-md-3 shadow-sm rounded border-top border-success zoom">
<div class="text-center"><img class="img-fluid bg-light rounded-circle p-3 mt-3 lazyload" alt="{{page.title}}" loading="lazy" width="120" height="120" data-src="{{w.image}}"/></div>
<div class="p-3">
<p><a href="{{site.url}}">{{w.title}}</a></p>
<p><small>{{w.description}}</small></p>
</div>
</div>
</div>
{% endfor %}

</div>
</div>

</div>

<div class="col-md-10 mx-auto p-3">
<div class="row bg-light sers mt-5 mail shadow-sm">
<h2 class="col-md-8 offset-md-2 p-3 mt-5 mb-3 text-center"><strong>{{page.notified.title}}</strong></h2>
<div id="mc_embed_signup" class="col-md-6 p-5 offset-md-3">
<form action="https://blikoontech.us12.list-manage.com/subscribe/post?u=1b8fef66a5b917ebcfa9841d4&amp;id=d55d2f15f3&amp;f_id=005043e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<div class="row">
<div class="col-md-9 offset-md-1 p-1">
<input type="email" name="EMAIL" class="required email form-control form-control-lg rounded" id="mce-EMAIL" placeholder="name@example.com">
</div>
<div class="col-md-2 p-1">
<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-greenoss btn-lg col-12" value="Go">
</div>
</div>
</form>
</div>
<p class="col-md-6 mx-auto p-3 text-center mb-5">
{{page.notified.description}}
</p>
<div class="p-3">
</div>
</div>
</div>

<div class="row mb-5" id="about">
<div class="col-md-12 p-3 p-md-5 text-center mt-5">
<h2><strong><a href="{{site.url}}">{{site.author.title}}</a></strong></h2>
</div>
<div class="col-md-8 mx-auto">
<div class="row">
<div class="col-md-4 p-3 p-md-5 text-center">
<img class="img-fluid rounded-circle lazyload" loading="lazy" width="200" height="200" alt="{{site.author.name}}" data-src="{{site.author.image}}"/>
</div>
<div class="col-md-8 p-3">
<h3><strong>{{site.author.name}}</strong></h3>
<span class="badge bg-green">{{site.author.label}}</span>
<hr class="hr-green col-md-1 col-2"/>
<p>{{site.author.description}}</p>
</div>
</div>
</div>
</div>
</div>
