<header class="loadinglazy container-fluid header" loading="lazy" data-background-image="{{page.banner}}">
<div class="row p-3">
<div class="col-md-8 mx-auto intro text-center">
<h1 class="col-md-8 mx-auto"><strong>{{page.title}}</strong></h1>
<h2 class="lead mt-3">{{page.description}}</h2>
</div>
</div>
</header>
<div class="container-fluid black">
<div class="row text-center">
<div class="col-md-8 mx-auto p-3 p-md-5 text-center">
<a href="{{page.button_video_link}}" title="{{site.title}} video" class="btn btn-greens ser me-3 mt-1">
{{page.button_video}}
</a>
<a href="{{page.button_book_link}}" title="{{page.title}} book" class="btn btn-greens ser mt-1">
{{page.button_book}}
</a>
</div>
</div>
</div>
